<script type="text/html" id='welcome'>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Frames isn't a Javascript Framework</h2>
        <p>
          It's more of a 'structure' with an MVC feel. With literally
          1 kazillion Javascript frameworks out there why would I create this silly little thing?
          Find out more <a href="#/about">here</a>.
        </p>
        <h3>Quickly Explained</h3>
        <ul>
          <li>Frames utilizes <a href="http://www.browserify.org">Browserify</a> for a dead simple component based web application. If you're not familiar you should check it out.</li>
          <li>Frames believes in Javascript Modules; specifically CommonJS (hence, Browserify) so you can require() to your hearts delight. Node packages in the client for the win!</li>
          <li>Frames believes that a developer should be able to look at a URL and quickly know what code is executing (Routing is your friend).</li>
          <li>Frames believes in providing structure without locking developers into a dogma.</li>
          <li>Frames loves <a href="http://www.underscorejs.org">Underscore.js</a>, <a href="https://github.com/flatiron/director">Director</a> (for routing), and <a href="http://www.zeptojs.com">ZeptoJS</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</script>
